In [6]:
import pandas as pd
import scipy.stats as st

In [7]:
df = pd.read_csv("Chi2.csv",index_col=0)
df

   Athlete Smoker
0        Y    yes
1        Y    yes
2        Y     no
3        Y     no
4        Y    yes
5        Y     no
6        Y    yes
7        Y     no
8        Y     no
9        Y     no
10       Y     no
11       Y     no
12       Y     no
13       Y     no
14       Y     no
15       Y     no
16       Y     no
17       Y     no
18       N    yes
19       N    yes
20       N    yes
21       N    yes
22       N    yes
23       N    yes
24       N    yes
25       N    yes
26       N    yes
27       N    yes

In [9]:
obs = pd.crosstab(index=df['Athlete'],columns = df['Smoker'])

In [10]:
from scipy.stats import chi2_contingency

In [12]:
st,p,df,exp = chi2_contingency(obs)

In [13]:
if p <0.05:
    print("Reject H0")
else:
    print("Fail to Reject H0")

Reject H0